<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Express Scaffold</title>
    <meta name="description" content="Express Scaffold">
    <meta name="author" content="Express Scaffold">
  
    <meta property="og:title" content="Express Scaffold">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.example.com">
    <meta property="og:description" content="Express Scaffold">
    
    <!-- NEED TO ADD IMAGE FOR SEO -->
    <meta property="og:image" content="image.png"> 
  
    <!-- LINKS -->
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/stylesheets/index.css"> 
</head>
<body>
    <h1>EXPRESS SCAFFOLD</h1>
</body>
</html>